.navbar {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 130, 53);
    height: 3.5rem;
    width: 100%;
}

.navbar__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.navbar__center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%
}

.navbar__right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 5%;
}