.singUpForm {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 4rem auto;
    padding: 0.75rem;
}

.singUpForm__header {
    width: 28.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.singUpForm__header__textSingUp {
    font-size: 1.5rem;
}

.singUpForm__content {
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

.singUpForm__content__socialButtons {
    width: 28.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}


@media (max-width: 767px) {

    .singUpForm {
        width: 15rem;
        margin: 2rem auto;

    }

    .singUpForm__header {
        width: 13.5rem;
    }

    .singUpForm__content {
        width: 13.5rem;
    }

    .singUpForm__content__socialButtons {
        flex-direction: column;
        height: 7.5rem;
        width: 13.5rem;
    }
}