.singUpForm {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 10rem auto;
    padding: 0.75rem;
}

.singUpForm__header {
    width: 28.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.singUpForm__header__text {
    font-size: 1.5rem;
}

.singUpForm__socialButtons {
    width: 28.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}



.singUpForm__termsAndConditions-updatesAndOffers {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}



.custom-shape-divider-top-1659101695 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1659101695 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 135px;
}

.custom-shape-divider-top-1659101695 .shape-fill {
    fill: #50e3c2;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1659101695 svg {
        width: calc(118% + 1.3px);
        height: 77px;
    }

    .singUpForm {
        width: 15rem;
        margin: 2rem auto;

    }

    .singUpForm__header {
        width: 13.5rem;
    }

    .singUpForm__socialButtons {
        flex-direction: column;
        height: 7.5rem;
        width: 13.5rem;
    }
}